[submodule "scgpm_seqresults_dnanexus/scgpm_lims"]
	path = scgpm_lims
	url = https://github.com/StanfordBioinformatics/scgpm_lims.git
[submodule "scgpm_seqresults_dnanexus/gbsc_dnanexus"]
	path = gbsc_dnanexus
	url = https://github.com/nathankw/gbsc_dnanexus.git
