[submodule "gbsc_dnanexus"]
	path = gbsc_dnanexus
	url = https://github.com/StanfordBioinformatics/gbsc_dnanexus.git
[submodule "scgpm_lims"]
	path = scgpm_lims
	url = https://github.com/StanfordBioinformatics/scgpm_lims
