build/                                                                                                 
dist/                                                                                                  
scgpm-seqresults-dnanexus.egg-info/ 
docs/_build                                                                                            
docs/_templates  
*.pyc
*.txt
!docs/requirements.txt                                                                                 
!LICENSE.txt
